.page
{
    background-color: #fff;
    max-width: 1920px;
    margin: 0 auto;
}

.button
{
    font: 600 16px/17px 'Montserrat', sans-serif;
    background-color: #000;
    color: #fff;
    padding: 15px 25px;
    min-height: 26px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.head-line
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1680px;
    padding: 15px 15px;
    margin: 0px auto;
}    

.head-line__button
{
  
    max-width: 217px;  
}

.head-line__logo
{
    margin: 0;
}

.head-line__menu
{ 
    display: block;
    text-align: center;
}

.head-line__menu-item
{
    display: block;
    font: 500 16px/20px 'Montserrat', sans-serif;
    color: #000;
    margin: 15px;
}

@media screen and (min-width: 768px) 
{
    .head-line
    {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 29px 29px;
    }   
}

@media screen and (min-width: 1024px)
{
    .head-line
    {
        flex-direction: row;
        align-items: center;
        justify-content: right;
    }   

    .head-line__menu
    { 
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        width: 52%;
        max-width: 600px;
        margin: 4px 15px 0 0;
    }

    .head-line__menu-item
    {
        margin: 0 15px 0 0;
    }

    .head-line__logo
    {
        margin-right: auto;
    }
}


.main-info
{
    display: block;
    padding: 50px 30px 70px;
    margin: 0 auto; 
}

.main-info__picture
{
    margin: 30px auto;
}

.main-info__picture_size
{ 
    width: 100%;
}

.main-info__text-block
{
    display: block;
}

.main-info__text_header
{
    font: 600 50px/60px 'Montserrat', sans-serif;
    color: #000;
    margin: 0;
}

.text-marked
{
    color: #ee58b6;
}

.main-info__text
{
    font: 400 22px/26px 'Roboto Condensed', sans-serif;
    color: #000;
    margin: 20px 0;
}

@media screen and (min-width: 610px) 
{    
    .main-info
    {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        padding: 50px 30px;
        margin: 0 auto; 
    }

    .main-info__picture
    {
        margin: 0 0 0 20px;
    }

    .main-info__button
    {
        max-width: 331px;
    }
}


@media screen and (min-width: 768px) 
{    
    .main-info__text-block
    {
        display: block;
        max-width: 700px;
        margin: 0;
    }

    .main-info__text
    {
        max-width: 80%;
        margin: 35px 0;s
    }
    .main-info__picture
    {
        margin: 0 0 0 5%;
    }
}

@media screen and (min-width: 1366px) 
{    
    .main-info__text_header
    {
        font: 600 100px/123px 'Montserrat', sans-serif;
    }

    .main-info__text
    {
        font: 400 26px/31px 'Roboto Condensed', sans-serif;
        margin: 45px 0;
    }
}

.offer-block
{
    background-color: #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 20px;
    margin: 20px 0;
}

.offer-block__box
{
    background-color: #000;
    width: 100%;
    margin: 50px 0px 50px 0px;
}

.offer-box__picture
{
    height: 61px;
    text-align: center;
}

.offer-box__text
{
    color: #fff;
    font: 400 22px/26px 'Roboto Condensed', sans-serif;
    text-align: center;
    width: 80%;
    max-width: 340px;
    margin: 15px auto;
}

@media screen and (min-width: 768px) 
{    
     .offer-block
    {
        flex-wrap: nowrap;
    }

    .offer-block__box
    {
        max-width: 250px;
        margin: 60px 25px;
    }
    
    .offer-box__text
    {
        font: 400 18px/22px 'Roboto Condensed', sans-serif;
        width: 100%;
        margin: 15px auto;
    }
}

@media screen and (min-width: 1024px) 
{    
    .offer-block__box
    {
        max-width: 337px;
        margin: 80px 30px;
    }
    
    .offer-box__text
    {
        font: 400 22px/26px 'Roboto Condensed', sans-serif;
    }
}

@media screen and (min-width: 1366px) 
{    
    .offer-block__box
    {
        max-width: 360px;
        margin: 80px 30px;
    }
}

.info
{
    display: block;
    padding: 50px 30px;
    margin: 0 auto;    
}

.info__picture
{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.info__picture_size
{
    width: 100%;
}

.info__text
{
    font: 400 18px/24px 'Roboto Condensed', sans-serif;
    color: #000;
    text-align: left;
    margin: 20px 0;
}

.info__text_header
{
    font: 500 38px/45px 'Montserrat', sans-serif;
    margin: 0px 0px 26px 0px;
}

@media screen and (min-width: 610px) 
{    
    .info
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
    }

    .info1
    {
        flex-direction: row;
    }

    .info2
    {
        flex-direction: row-reverse;
    }

    .info__picture
    {
        flex: 1; 
        width: none;  
        margin: 0 auto;
    }

    .info__text
    {
        flex: 1;
        margin: 20px 20px;
    }
}

@media screen and (min-width: 1024px) 
{
        
    .info__picture_size
    {
        width: auto;
    }

    .info__text_header
    {
        font: 500 48px/61px 'Montserrat', sans-serif;
        margin: 0px 0px 26px 0px;
    }
}

.feaches-block
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px; 
    margin: 0 0 80px;
}

.feaches-block__header
{
    font: 500 48px/58px 'Montserrat', sans-serif;
    color: #000;
    text-align: center;
    margin: 40px;
}

.feaches-block__feaches
{
    display: flex;
    direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}

.feaches__box
{
    background-color: #000;
    border-radius: 7px;
    min-width: 180px;
    max-width: 289px;
    height: 126px;
    padding: 33px 30px 33px 41px;
    margin: 14px;
    text-align: left;
}

.feaches-box__text
{
    font: 400 18px/21px 'Roboto Condensed', sans-serif;
    color: #fff;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}

@media screen and (min-width: 480px) 
{
    .feaches__box
    {
       
        width: 289px;
        height: 126px;
        padding: 33px 30px 33px 41px;
        margin: 14px;
        text-align: left;
    }

}

@media screen and (min-width: 1024px) 
{
    .feaches-block
    {  
        margin: 0 0 200px;
    }
}

.footer
{
    background-color: #000;
    text-align: center;
    padding: 30px;
}